@charset "UTF-8";
/*-----------------------------------------------------------------------------------


/************ TABLE OF CONTENTS ***************

    01. Common CSS
    02. Header CSS
    03. Hero CSS
    04. Features CSS
    05. About CSS
    06. Section-title CSS
    06. Services CSS
    07. Portfolio CSS
    08. Trainer CSS
    09. Product CSS
    10. Blog CSS
    11. Classes CSS
    12. Cart CSS
    13. Footer CSS


**********************************************/
/*


*/
/*----------------------------------------*/
/*  01. Common CSS
/*----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&amp;family=Teko:wght@300;400;500;600;700&amp;display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff !important;
  background-color: black !important;
  font-family: "Teko", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 28px;
}

a {
  text-decoration: none !important;
}

/* padding class */

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px
}

.pt-100 {
  padding-top: 100px
}

.pb-100 {
  padding-bottom: 100px
}

.pb-50 {
  padding-bottom: 50px
}

.pt-50 {
  padding-top: 50px
}

.pb-70 {
  padding-bottom: 70px
}

.pt-70 {
  padding-top: 70px
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px
}

.pl-15 {
  padding-left: 15px
}

.pr-15 {
  padding-right: 15px
}

.mr-20 {
  margin-right: 20px
}

.pr-20 {
  padding-right: 20px
}

.pl-20 {
  padding-left: 20px
}

.mb-30 {
  margin-bottom: 30px
}

.mlr-5 {
  margin-right: 5px;
  margin-left: 5px
}

.mlrt-5 {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px
}

/* padding class end */

.no-scroll-y {
  overflow-y: hidden
}

.w-img img {
  width: 100%;
}

.m-img img {
  max-width: 100%;
}

a,
.btn,
button,
span,
p,
i,
input,
select,
textarea,
li,
img,
svg path,
*::after,
*::before,
.transition-3,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

a:hover {
  color: #ea1b29;
}

a,
button {
  color: inherit;
  outline: none;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", sans-serif;
  /* color: #010101; */
  margin-top: 0px;
  font-weight: 500;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* color: #6a6b71; */
  margin-bottom: 15px;
  line-height: 28px;
}

p:last-child {
  margin-bottom: 0
}

*::-moz-selection {
  background: #000;
  color: #ffffff;
  text-shadow: none;
}

::-moz-selection {
  background: #000;
  color: #ffffff;
  text-shadow: none;
}

::selection {
  background: #ff0000;
  color: #000000;
  text-shadow: none;
}

textarea:focus {
  border: 1px solid #ea1b29 !important;
}

/*--
    - Input Placeholder
-----------------------------------------*/
*::-moz-placeholder {
  color: #000;
  font-size: 14px;
  opacity: 1;
}

*::placeholder {
  color: #000;
  font-size: 14px;
  opacity: 1;
}



/* default btn */

.default-btn {
  background-color: #f0f0f0;
  color: #212226;
  font-size: 16px;
  font-weight: 400;
  padding: 14px 55px 15px 30px;
  border-radius: 30px;
  position: relative;
  text-align: center;
  transition: all ease .5s;
  display: inline-block;
  font-family: kanit, sans-serif;
  border: unset;
  z-index: 1;
  overflow: hidden
}

.default-btn i {
  position: absolute;
  right: 30px;
  top: 52%;
  transform: translateY(-50%);
  font-size: 18px
}

.default-btn::before {
  position: absolute;
  content: "";
  background-color: #212226;
  height: 0%;
  width: 0%;
  border-radius: 30px;
  bottom: 0;
  right: 0;
  transition: all ease .5s;
  z-index: -1
}

.default-btn::after {
  position: absolute;
  content: "";
  background-color: #d00;
  height: 0%;
  width: 0%;
  border-radius: 30px;
  top: 0;
  left: 0;
  transition: all ease .5s;
  z-index: -1
}

.default-btn.active {
  background-color: #d00;
  color: #fff
}

.default-btn.active:hover {
  background-color: #212226;
  color: #fff
}

.default-btn:hover {
  color: #fff;
  border-color: #d00
}

.default-btn:hover::before {
  width: 100%;
  height: 100%
}

.default-btn:hover::after {
  width: 100%;
  height: 100%
}

.default-btn:focus {
  box-shadow: none
}

.default-btn.style-2 {
  border: 1px solid #d00;
  background-color: transparent
}

.default-btn.style-3 {
  border: 1px solid #606060;
  background-color: transparent;
  color: #fff
}

.default-btn.style-3:hover {
  border-color: #d00
}

.default-btn.style-4 {
  border: 1px solid #f0f0f0;
  background-color: transparent
}

.default-btn.style-4:hover {
  border-color: #d00
}

.default-btn.style-5 {
  border: 1px solid #d00;
  background-color: transparent;
  color: #fff
}

.default-btn.style-5:hover {
  border-color: #d00
}

.default-btn.for-card {
  padding: 10px 20px
}

/* default btn end */

/*--
    - Common Classes
-----------------------------------------*/
.fix {
  overflow: hidden;
}

.clear {
  clear: both;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.text-right {
  text-align: right;
}

.z-index-1 {
  z-index: 1;
}

.z-index-11 {
  z-index: 11;
}

.overflow-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  padding-right: 0;
  padding-left: 0;
}

.custome-container {
  width: 1170px;
}

@media (max-width: 575px) {
  .custome-container {
    width: auto;
  }
}

/*--
    - Background color
-----------------------------------------*/
.grey-bg {
  background: #000;
}

.pink-bg {
  background: #000;
}

.white-bg {
  background: #ffffff;
}

.black-bg {
  background: #000;
}

.footer-bg {
  background: #000;
}

/*--
    - color
-----------------------------------------*/
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #ffffff !important;
}

.white-color {
  color: #ffffff;
}

.theme-color {
  color: #000 !important;
}

.black-color {
  color: #000;
}

.body-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.body-overlay:hover {
  cursor: pointer;
}

.body-overlay.opened {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 575px) {
  .progress-wrap {
    right: 15px;
    bottom: 15px;
  }
}

.tp-btn-round-newsletter {
  padding: 0 44px;
  background: #ea1b29;
  font-family: "Teko", sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.3s;
  display: inline-block;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  border: 2px solid transparent;
  height: 70px;
  line-height: 70px;
}

.tp-btn-round-newsletter i {
  margin-left: 10px;
  font-size: 15px;
}

.tp-btn-round-newsletter:hover {
  background: #ffffff;
  color: #ea1b29;
  border-color: #ea1b29;
}

.tp-btn-round-newsletter:before {
  background-color: #fff;
  content: "";
  height: 150px;
  left: -75px;
  position: absolute;
  top: -35px;
  transform: rotate(35deg);
  transition: all 1600ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
  opacity: 0;
}

.tp-btn-round-newsletter:hover:before {
  left: 120%;
  transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.25;
}

/* book now btn */
.top-btn {
  padding: 0 50px;
  background: #ea1b29;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  transition: 0.3s;
  position: relative;
  display: inline-block;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

.top-btn::before {
  background-color: #fff;
  content: "";
  height: 150px;
  left: -75px;
  position: absolute;
  top: -35px;
  transform: rotate(35deg);
  transition: all 1600ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
  opacity: 0;
}

.top-btn:hover {
  background: #ffffff;
  color: #ea1b29;
}

.top-btn:hover:before {
  left: 120%;
  transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.25;
}

.top-btn i {
  margin-left: 10px;
  font-size: 15px;
}

/* book now btn end */


/*----------------------------------------*/
/*  02. Header CSS
/*----------------------------------------*/
/* -------- topbar ------------ */
.top-nav {
  position: absolute;
  z-index: 222;
  width: 100%;
}

.topbar-info {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 30px;
}

.contact-item {
  display: flex;
  justify-content: center;
  position: relative;
}

.contact-item::before {
  position: absolute;
  content: "";
  background: #51545d;
  width: 1px;
  height: 100%;
  right: -24%;
}

@media only screen and (min-width: 1400px) and (max-width: 1500px) {
  .contact-item::before {
    right: -10%;
  }
}

.contact-item:last-child::before {
  display: none;
}

.contact-item i {
  font-size: 45px;
  color: #ffffff;
  margin-right: 10px;
}

.contact-item .flaticon-contact {
  animation: phone-icon-animate 1.5s ease-in-out infinite;
  display: inline-block;
  line-height: 1;
}

.contact-item p {
  font-size: 18px;
  line-height: 1.2;
  color: #ea1b29;
  font-family: "Teko", sans-serif;
  margin-bottom: 0;
}

.contact-item .content a {
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
  font-family: "Teko", sans-serif;
}

/* -------- main-menu ------------ */
@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .menu-area {
    background-color: #ffffff38;
  }
}

.menu-content {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff38;
  box-shadow: 0px 0px 20px 0px rgba(0, 6, 91, 0.06);
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .menu-content {
    padding: 15px 0;
    background: none;
  }
}

.main-menu ul li {
  display: inline-block;
  margin-right: 55px;
  position: relative;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .main-menu ul li {
    margin-right: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu ul li {
    margin-right: 20px;
  }
}

.main-menu ul li:last-child {
  margin-right: 0;
}

.main-menu ul li a {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.1;
  color: #ffffff;
  font-family: "Teko", sans-serif;
  padding: 30px 0;
  display: block;
  transition: 0.3s;
}

.main-menu ul li a i {
  font-size: 10px;
  font-weight: 500;
  top: -2px;
  position: relative;
}

.main-menu ul li .active {
  color: #ea1b29;
}

.main-menu ul li:hover>a {
  color: #ea1b29;
}

.main-menu ul li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.main-menu .sub-menu {
  position: absolute;
  left: 0;
  top: 110%;
  min-width: 220px;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 20px 0px 15px;
  transition: 0.3s;
  text-align: left;
  border-top: 4px solid #ea1b29;
}

.main-menu .sub-menu li {
  margin: 0;
  padding: 0;
  display: inline;
}

.main-menu .sub-menu li a {
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 5px 25px;
  transition: 0.3s;
  color: #000;
}

.main-menu .sub-menu li .active {
  color: #ea1b29;
}




.topcontact-btn {
  margin-left: 10px;
}

.contact-btn {
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  animation: sticky 2s;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15);
  background: #152136;
}

.sticky .menu-content {
  padding-left: 0;
  background: #152136;
}

.sidebar__area {
  position: fixed;
  right: -485px;
  top: 0;
  width: 350px;
  height: 100%;
  background: #ffffff none repeat scroll 0 0;
  overflow-y: scroll;
  -webkit-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 9999;
}

@media (max-width: 575px) {
  .sidebar__area {
    width: 290px;
  }
}

.sidebar__area.sidebar-opened {
  right: 0px;
}

.sidebar__wrapper {
  position: relative;
  padding: 45px;
  background: #152136;
}

@media (max-width: 575px) {
  .sidebar__wrapper {
    padding: 20px;
  }
}

.sidebar__close {
  position: absolute;
  top: 48px;
  right: 45px;
}

@media (max-width: 575px) {
  .sidebar__close {
    top: 22px;
    right: 20px;
  }
}

.sidebar__close-btn {
  display: inline-block;
  font-size: 16px;
  height: 45px;
  width: 45px;
  line-height: 49px;
  background: #000;
  color: #fff;
  border-radius: 50%;
}

.sidebar__close-btn:hover {
  background: #ea1b29;
}

.sidebar__close-btn-3 {
  background: #666;
}

.sidebar__close-btn-3:hover {
  background: #666;
}

.sidebar__logo {
  padding-bottom: 20px;
  border-bottom: 1px solid #e3e6e7;
}

.sidebar__text p {
  margin-bottom: 25px;
}

.sidebar__contact h4 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #ffffff;
}

.sidebar__contact ul li:not(:last-child) {
  margin-bottom: 20px;
}

.sidebar__contact ul li:hover i {
  background: #ea1b29;
  color: #ffffff;
  border-color: #ea1b29;
}

.sidebar__contact ul li:hover a {
  color: #ea1b29;
}

.sidebar__contact-icon i {
  display: inline-block;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e3e6e7;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.sidebar__contact-text a {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.sidebar__contact-3 h4 {
  color: #666;
}

.sidebar__contact-3 ul li:hover i {
  background: #666;
  color: #ffffff;
  border-color: #666;
}

.sidebar__contact-3 ul li:hover a {
  color: #ea1b29;
}

.sidebar__map iframe {
  width: 100%;
  height: 200px;
  border: none;
}

.sidebar__social ul li {
  display: inline-block;
}

.sidebar__social ul li:not(:last-child) {
  margin-right: 5px;
}

.sidebar__social ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  background: #ea1b29;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.sidebar__social ul li a:hover {
  background: #010101;
  color: #ffffff;
}

.sidebar__social-3 ul li a {
  background: #000;
  color: #666;
}

.sidebar__social-3 ul li a:hover {
  background: #666;
  color: #ffffff;
}


/*----------------------------------------*/
/*  03. Hero CSS banner
/*----------------------------------------*/

/* banner end(hero) */


/*----------------------------------------*/
/*  05. About CSS
/*----------------------------------------*/
.tp-about-area {
  position: relative;
}

.about-bg-shape {
  position: absolute;
  top: 75px;
  left: 0;
  right: 125px;
  margin: 0 auto;
  text-align: center;
  z-index: -2;
}

.about-image {
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .about-image {
    margin-bottom: 50px;
  }
}

.about-shape {
  position: absolute;
  right: 22px;
  bottom: -22%;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .about-shape {
    right: -30px;
    bottom: -35%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-shape {
    right: -30px;
    bottom: -5%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about-shape {
    right: 0px;
    bottom: 0;
  }
}

@media (max-width: 575px) {
  .about-shape {
    display: none;
  }
}

.about-shape .content {
  position: absolute;
  right: 32%;
  top: 24%;
  transform: rotate(-28deg);
}

.about-shape .content h4 {
  font-size: 55px;
  color: #ffffff;
}

.about-shape .content span {
  font-size: 40px;
  color: #ffffff;
  display: block;
}

.about-info {
  margin-left: 120px;
  max-width: 560px;
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .about-info {
    margin-left: 105px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .about-info {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-info {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .about-info {
    margin-left: 0;
  }
}

.about-info .ab-bquote {
  padding: 40px 60px;
  padding-right: 90px;
  background: #f7f7f7;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

@media (max-width: 575px) {
  .about-info .ab-bquote {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about-info .ab-bquote span {
  font-size: 30px;
  line-height: 1.05;
  display: block;
  color: #010101;
  font-weight: 500;
}

@media (max-width: 575px) {
  .about-info .ab-bquote span {
    font-size: 26px;
  }
}

/* .quote {
  position: absolute;
  right: 55px;
  top: 30px;
  z-index: -1;
} */



.choose-us-area {
  margin-right: 7%;
  margin-top: -185px;
  position: relative;
  /* background: #ffffff; */
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .choose-us-area {
    margin-right: 0;
  }
}

.choose-info {
  margin-left: 100px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .choose-info {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .choose-info {
    margin-left: 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .choose-info {
    margin-left: 0;
  }
}

.choose-iamge img {
  width: 100%;
}

.choose-list {
  position: relative;
}

.choose-icon {
  position: relative;
  height: 75px;
  width: 75px;
  border-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 30px;
  line-height: 90px;
  background: #ea1b29;
  text-align: center;
  margin-right: 40px;
  transition: all 0.3s ease-out 0s;
  position: absolute;
  top: 5px;
  z-index: 2;
}

.choose-icon i {
  font-size: 35px;
  color: #ffffff;
  transition: all 0.3s ease-out 0s;
  display: inline-block;
  z-index: 2;
  position: relative;
}

.choose-icon-wrap {
  position: relative;
}

.choose-icon-wrap::before {
  position: absolute;
  content: "";
  height: 75px;
  width: 75px;
  border-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 30px;
  background-color: #fcdddf;
  top: -5px;
  left: -10px;
  z-index: 1;
}

.choose-content {
  padding-left: 100px;
}

.choose-content h5 {
  font-size: 30px;
  line-height: 1.2;
}

.choose-content p {
  max-width: 450px;
}

.choose-icon:hover i {
  animation: scale-up-one infinite 1.5s linear;
}

/*----------------------------------------*/
/*  06. Section-title CSS
/*----------------------------------------*/
.tpsub-title {
  font-size: 22px;
  color: #ea1b29;
  text-transform: uppercase;
  line-height: 1.2;
  display: block;
}

.section-title {
  max-width: 660px;
  margin: auto auto 40px;
  text-align: center;
  font-size: 60px;
  line-height: 1;
}

.section-title span {
  color: #d00;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 500
}

.section-title h2 {
  font-size: 40px;
  margin-bottom: 15px;
  position: relative;
  border-radius: 10px;
  font-weight: 700
}

.section-title h2 .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: #d00;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title {
    font-size: 55px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-title {
    font-size: 45px;
  }
}

@media (max-width: 575px) {
  .section-title {
    font-size: 35px;
  }
}


.section-border {
  position: relative;
  display: block;
}

.section-border i {
  color: #ea1b29;
  font-size: 15px;
}

.section-border::before {
  position: absolute;
  content: "";
  width: 95px;
  height: 2px;
  background: #ea1b29;
  top: 35%;
  left: 25px;
}

.section-wrap {
  max-width: 570px;
}


/*----------------------------------------*/
/*  06. Services CSS
/*----------------------------------------*/


.single-services-card {
  padding: 30px;
  border: 1px dashed rgba(221, 0, 0, .15);
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  transition: all ease .5s
}

.single-services-card .services-content {
  padding-left: 120px;
  position: relative
}

.single-services-card .services-content .icon {
  height: 100px;
  width: 100px;
  line-height: 110px;
  border-radius: 100%;
  font-size: 55px;
  text-align: center;
  /* background-color: #f0f0f0; */
  position: absolute;
  left: 0;
  top: 3px;
  transition: all ease .5s;
  z-index: 1;
  overflow: hidden
}

.single-services-card .services-content .icon::before {
  position: absolute;
  content: "";
  height: 0%;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #d00;
  border-radius: 100%;
  z-index: -1;
  transition: all ease .5s
}

.single-services-card .services-content h3 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600
}

.single-services-card .services-content h3 a {
  color: white;
  transition: all ease .5s
}

.single-services-card .services-content h3 a:hover {
  color: #d00
}

.single-services-card .services-content p {
  margin-bottom: 25px
}

.single-services-card .number {
  font-size: 50px;
  color: #f0f0f0;
  font-weight: 500;
  position: absolute;
  right: 10px;
  bottom: -5px
}

.single-services-card::before {
  position: absolute;
  content: "";
  height: 50px;
  width: 0%;
  left: 0;
  top: 0;
  background-color: #d00;
  border-radius: 10px 0 100% 0;
  transition: all ease .5s
}

.single-services-card:hover {
  box-shadow: 0 6px 30px 5px rgba(33, 34, 38, .05);
  border-color: transparent
}

.single-services-card:hover::before {
  width: 50px;
  border-radius: 10px 0 100% 0
}

.single-services-card:hover .icon {
  color: #fff
}

.single-services-card:hover .icon::before {
  height: 100%
}

/* service end */


/* achievements area  */


.tpcounter-area {
  text-align: center;
  background: #ffffff;
  /* margin-left: 7%; */
  position: relative;
  color: black !important;
  /* margin-top: -250px; */
}

@media (max-width: 575px) {
  .tpcounter-area {
    margin-left: 0;
  }
}

.tpcounter-area::before {
  position: absolute;
  content: "";
  width: 100%;
  background: #ffffff;
  bottom: -80px;
  height: 100px;
  left: 0;
  right: 0;
}

.counter-item {
  padding: 70px 50px;
  position: relative;
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .counter-item {
    padding: 65px 15px 40px 20px;
  }
}

.counter-item-border {
  border-right: 2px solid #e3e6e7;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .counter-item-border {
    border-right: 0;
  }
}

.counter-number h4 {
  font-size: 85px;
  color: #ea1b29;
  width: 120px;
  float: left;
  transform: rotate(-90deg);
  top: 15px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .counter-number h4 {
    font-size: 50px;
    top: 0;
  }
}

.counterinfo {
  top: 25px;
  position: relative;
}

.counterinfo i {
  font-size: 70px;
  color: #010101;
}

.counterinfo span {
  font-size: 30px;
  line-height: 1;
  color: #010101;
  display: inline-block;
  font-weight: 500;
}

.counter-shape {
  position: absolute;
  left: 65px;
  right: 0;
  top: 50%;
  text-align: center;
}

/* achivements end */



/*----------------------------------------*/
/* 07. Portfolio CSS (fitness-gallery-area)
/*----------------------------------------*/


.fitness-gallery-area {
  padding-top: 145px;
  padding-bottom: 110px;
  position: relative;
}

.fitness-item {
  position: relative;
  margin-bottom: 85px;
  transition: all 0.3s ease-in-out;
}

.fitness-item a {
  display: flex;
  justify-content: center;
}

.fitness-item img {
  width: 70% !important;
}


.fitness-slider_active .owl-stage-outer {
  overflow: visible;
}

.fitness-slider_active .owl-item.active.center {
  z-index: 1;
}

.fitness-slider_active .owl-item.active.center .fitness-item {
  transform: scale(1.07);
}

.fitness-slider_active .owl-item.active.center .fitness-item img {
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.fitness-slider_active .owl-item.active.center .fitness-info {
  visibility: visible;
  opacity: 1;
}


/*----------------------------------------*/
/*  08. Intro video CSS
/*----------------------------------------*/

.intro-video-area {
  background-image: url(/assets/images/video-img/video-bg-1.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  z-index: 1
}

.intro-video-area::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(17, 17, 17, .25);
  z-index: -1
}

.video-btn-content {
  text-align: center
}

.video-btn-content .play-btn a {
  color: #d00;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 50px;
  border-radius: 100%;
  background: #fff;
  transition: all ease .5s;
  display: inline-block;
  position: relative;
  z-index: 1
}

.video-btn-content .play-btn a i {
  position: relative;
  left: 1px;
  top: 1px
}

.video-btn-content .play-btn a::before {
  position: absolute;
  content: "";
  height: 90px;
  width: 90px;
  left: -5px;
  top: -5px;
  border: 1px solid #fff;
  border-radius: 100%;
  animation: ripple 4s linear infinite;
  z-index: -1;
  transition: all ease .5s
}

.video-btn-content .play-btn a::after {
  position: absolute;
  content: "";
  height: 80px;
  width: 80px;
  left: 0;
  top: 0;
  border: 1px solid #fff;
  border-radius: 100%;
  animation: ripple 6s linear infinite;
  z-index: -1;
  transition: all ease .5s
}

.video-btn-content .play-btn a:hover {
  background-color: #d00;
  color: #fff
}

.video-btn-content .play-btn a:hover::before {
  border-color: #fff
}

.video-content .video-title span {
  color: #d00;
  display: inline-block;
  margin-bottom: 10px
}

.video-content .video-title h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  position: relative
}

.video-content .video-title h2 .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: #d00;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px
}

.video-content p {
  margin-bottom: 25px;
  color: silver
}

.video-content ul {
  padding-left: 0;
  margin-bottom: 0
}

.video-content ul li {
  list-style-type: none;
  padding-left: 22px;
  position: relative;
  margin-bottom: 12px;
  color: #b3b3b3
}

.video-content ul li i {
  position: absolute;
  left: 0;
  top: 1px;
  color: #d00
}

.video-content ul li:last-child {
  margin-bottom: 0
}


/*----------------------------------------*/
/*  09. Testimonial CSS
/*----------------------------------------*/


.single-testimonial-box {
  padding: 35px;
  border: 1px dashed rgba(221, 0, 0, .15);
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  transition: all ease .5s
}

.single-testimonial-box .top-content {
  margin-bottom: 25px
}

.single-testimonial-box .top-content ul {
  padding-left: 0;
  margin-bottom: 0
}

.single-testimonial-box .top-content ul li {
  list-style-type: none
}

.single-testimonial-box .top-content ul li .quote {
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 30px;
  text-align: center;
  color: #d00;
  background-color: #f0f0f0;
  border-radius: 100%;
  transition: all ease .5s;
  position: relative;
  overflow: hidden;
  z-index: 1
}

.single-testimonial-box .top-content ul li .quote::before {
  position: absolute;
  content: "";
  height: 0%;
  width: 100%;
  background-color: #d00;
  border-radius: 100%;
  bottom: 0;
  right: 0;
  transition: all ease .5s;
  z-index: -1
}

.single-testimonial-box .top-content ul li .number {
  font-size: 70px;
  color: #f0f0f0;
  font-weight: 500;
  line-height: 60px
}

.single-testimonial-box .top-content p {
  margin-bottom: 30px
}

.single-testimonial-box .clients-info h3 {
  font-size: 18px;
  margin-bottom: 7px;
  font-weight: 600
}

.single-testimonial-box::before {
  position: absolute;
  content: "";
  height: 0;
  width: 40px;
  background-color: #d00;
  border-radius: 100% 0 10px 0;
  bottom: 0;
  right: 0;
  transition: all ease .5s
}

.single-testimonial-box:hover {
  border-color: transparent;
  box-shadow: 0 6px 30px 5px rgba(33, 34, 38, .05);
  transform: translateY(-10px)
}

.single-testimonial-box:hover::before {
  height: 50px
}

.single-testimonial-box:hover .top-content ul li .quote {
  color: #fff
}

.single-testimonial-box:hover .top-content ul li .quote::before {
  height: 100%
}


/* Testimonialend */

/*----------------------------------------*/
/*  10. Blog CSS
/*----------------------------------------*/


/*----------------------------------------*/
/*  11. Classes CSS
/*----------------------------------------*/


/*----------------------------------------*/
/*  12. Contact CSS
/*----------------------------------------*/

.single-contact-item {
  padding-left: 95px;
  position: relative;
  margin-bottom: 40px
}

.single-contact-item .icon {
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 30px;
  color: #d00;
  text-align: center;
  border-radius: 10px;
  background-color: #f0f0f0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all ease .5s;
  overflow: hidden
}

.single-contact-item .icon::before {
  position: absolute;
  content: "";
  height: 0%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  background-color: #d00;
  z-index: -1;
  transition: all ease .5s
}

.single-contact-item a {
  display: block;
  color: #ffffff;
  transition: all ease .5s;
  margin-bottom: 4px
}

.single-contact-item a:hover {
  color: #d00
}

.single-contact-item h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500
}

.single-contact-item.style2 span {
  padding-right: 25px;
  display: block
}

.single-contact-item:hover .icon {
  color: #fff
}

.single-contact-item:hover .icon::before {
  height: 100%
}

.contact-title {
  margin-bottom: 30px
}

.contact-title span {
  color: #d00;
  display: inline-block;
  margin-bottom: 8px
}

.contact-title h2 {
  font-size: 40px;
  margin-bottom: 20px;
  position: relative;
  font-weight: 700
}

.contact-title h2 .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: #d00;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 10px
}

.follow-content {
  padding-top: 30px;
  border-top: 1px solid #f0f0f0;
  margin-bottom: 30px
}

.follow-content .social-content ul {
  padding-left: 0;
  margin-bottom: 0
}

.follow-content .social-content ul li {
  display: inline-block;
  margin-right: 10px
}

.follow-content .social-content ul li:last-child {
  margin-right: 0
}

.follow-content .social-content ul li span {
  color: #212226;
  font-weight: 600;
  display: inline-block;
  position: relative;
  top: -11px
}

.follow-content .social-content ul li a {
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  background-color: #f0f0f0;
  color: #666;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  transition: all ease .5s;
  overflow: hidden
}

.follow-content .social-content ul li a::before {
  position: absolute;
  content: "";
  height: 0%;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #d00;
  border-radius: 100%;
  z-index: -1;
  transition: all ease .5s
}

.follow-content .social-content ul li a:hover {
  color: #fff
}

.follow-content .social-content ul li a:hover::before {
  height: 100%
}

.contact-form {
  padding: 30px;
  box-shadow: 0 6px 30px 5px rgba(33, 34, 38, .05);
  border-radius: 10px;
  margin-bottom: 30px
}

.contact-form .form-group {
  margin-bottom: 25px
}

.contact-form .form-group .form-control {
  border-radius: 30px
}

.contact-form .form-group textarea {
  border-radius: 10px !important
}

.contact-form .form-group .form-check a {
  color: #d00
}

.contact-form .form-group .form-check .form-check-input {
  box-shadow: unset;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  height: 17px;
  width: 17px;
  background-image: unset !important;
  transition: all ease .5s;
  position: relative;
  top: -1px
}

.contact-form .form-group .form-check .form-check-input:checked {
  background-color: #d00;
  border-color: #dcdcdc
}

.contact-form .text-danger {
  padding-top: 15px;
  color: #d00;
  font-size: 18px
}

.contact-form .list-unstyled {
  padding-top: 7px;
  color: #d00
}

.map-area iframe {
  height: 550px;
  width: 100%;
  margin-bottom: -10px
}

.form-control {
  height: 50px;
  border: 1px solid #e2e2e2;
  padding-left: 15px
}

.form-control::-moz-placeholder {
  color: #666;
  -moz-transition: all ease .5s;
  transition: all ease .5s
}

.form-control::placeholder {
  color: #666;
  transition: all ease .5s
}

.form-control:focus {
  border: 1px solid #d00;
  box-shadow: none
}

.form-control:focus::-moz-placeholder {
  color: transparent
}

.form-control:focus::placeholder {
  color: transparent
}



/*----------------------------------------*/
/*  13. Footer CSS
/*----------------------------------------*/
.footer-area {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.footer_top-info {
  border-bottom: 1px solid #373738;
}

.news-letter-title {
  font-size: 60px;
  line-height: 1;
  color: #ffffff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .news-letter-title {
    font-size: 45px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .news-letter-title {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .news-letter-title {
    font-size: 40px;
  }
}

.news_letter_search input {
  width: 400px;
  height: 70px;
  background: #ffffff;
  color: #6a6b71;
  border: none;
  outline: none;
  padding: 0 30px;
  border-radius: 50px;
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .news_letter_search input {
    width: 300px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .news_letter_search input {
    width: 100%;
  }
}

.news_letter_search input::placeholder {
  color: #6a6b71;
  font-size: 15px;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}

.news_letter-info {
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 575px) {
  .news_letter-info {
    display: block;
  }
}

.footer-widget p {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 0;
}

.footer-social a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 47px;
  text-align: center;
  background: #424243;
  color: #ffffff;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.footer-social a:last-child {
  margin-right: 0;
}

.footer-social a:hover {
  background: #ea1b29;
  color: #ffffff;
}

.fotter_widget-title {
  font-size: 30px;
  color: #ffffff;
  position: relative;
}

.fotter_widget-title::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background: #ea1b29;
  bottom: -4px;
}

.fotter_project_lists li {
  margin-bottom: 6px;
}

.fotter_project_lists li a {
  font-size: 16px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  transition: 0.3s;
}

.fotter_project_lists li a:hover {
  color: #ea1b29;
}

.footer__info-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #ea1b29;
  color: #ffffff;
  transition: 0.3s;
}

.footer__info-text a {
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -6px;
}

.footer__info-text span {
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  display: block;
  color: #ffffff;
  position: relative;
  top: -6px;
}

.footer__blog-sm-thumb img {
  border-radius: 50px;
  height: 80px;
  width: 80px;
}

.footer__blog-sm-title {
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  line-height: 1.4;
}

.fotter-col2 {
  margin-right: 90px;
}

@media (max-width: 575px) {
  .fotter-col2 {
    margin-right: 50px;
  }
}

@media (max-width: 480px) {
  .fotter-col2 {
    margin-right: 0;
  }
}

.copy-right-area {
  background: #0000007d;
  padding: 40px 0;
}

.copyright-info {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 575px),
only screen and (min-width: 576px) and (max-width: 767px) {
  .copyright-info {
    display: block;
    text-align: center;
  }
}

.copyright-info .owner_name p {
  color: #ffffff;
  margin-bottom: 0;
}

.copyright-info .owner_name p a {
  color: #ea1b29;
}

.copy-right_useful_link {
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.footer-shape {
  position: absolute;
  bottom: 35%;
  left: 40px;
  animation: pricing-shape-sm-3-animation 4s linear infinite alternate;
  z-index: -1;
}

.footer-shape-two {
  position: absolute;
  bottom: 35%;
  right: 40px;
  animation: pricing-shape-sm-3-animation 4s linear infinite alternate;
  z-index: -1;
}

.footer-curve {
  position: absolute;
  top: 29.2%;
  left: 19%;
  right: 0;
  text-align: center;
  z-index: -1;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-curve {
    top: 28.5%;
    left: 32%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-curve {
    top: 28%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-curve {
    top: 26.1%;
  }
}








/*  */

.mfp-title {
  display: none
}

/*  */